.blogs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  place-items: center;
}
