@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Noto Sans", sans-serif;
  /* font-style: normal; */
}
.html {
  scroll-behavior: smooth;
}


/* Force the browser to stay within the screen width */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.font-heading {
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
p {
  font-weight: 500;
}

.section_padding {
  padding: 0 150px;
}
@media (max-width: 1300px) {
  .section_padding {
    padding: 0 100px;
  }
}

@media (max-width: 1000px) {
  .section_padding {
    padding: 0 70px;
  }
}
@media (max-width: 775px) {
  .section_padding {
    padding: 0 40px;
  }
}
@media (max-width: 400px) {
  .section_padding {
    padding: 0 20px;
  }
}

/* medlaysingh@gmail.com  */
/* _bynh9n_NrE#-ju ........password */


